<div class="row" style="background-image: url('assets/images/antoine-barres.jpg');">
  <div class="col-md-12 mx-auto" style="text-align:center; font-size:3rem; margin-top: 5%; margin-bottom: 5%;"><span style="color: #fff; font-weight: bolder;">All Blogs</span></div>
  </div>
  <div class="container">
<div class="row">
  <div class="col bottom">
    <div class="col-md-12" *ngIf="currentBlog$ | async as blog">
      <h1>{{blog.title}}</h1>
      <hr>
      <p><i class="nc-icon nc-time-alarm"></i> Posted on {{blog.created | date:'medium'}} by <i class="nc-icon nc-spaceship"> {{blog.author}}</i></p>
      <p *ngIf="blog.tags!=undefined && blog.tags.length>0">tags : <span
        *ngFor="let tag of blog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span></p>
      <hr>
       <img src="http://localhost:4000/{{blog.imagePath}}" class="img-responsive">
       <hr>
       <br>
       <div [innerHtml]="blog.bodyHtml"></div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 mh-100 margin">
    <app-recent-blog></app-recent-blog>
    <hr>
    <app-blog-category></app-blog-category>
  </div>
</div>
</div>
